// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#registration_new, #session_new {
  //margin: 0 auto;
  //background-color: #FFF;
  text-align: center;
  padding: 50px;
  //font-family:

  .new_user{
    //background-color: ;
    border: solid #FF9933;
    border-radius: 10px;
    margin: 0 15%;
    padding: 40px;
    .form {
      text-align: left;
      display: inline-block; /* ブロック要素横並び */
      padding: 20px 20px;
    }
    #btn-border {
    position: relative;
    border-radius: 0;
      input{
        background: transparent;
        border: none;

      }


    }

    #btn-border:before,
    #btn-border:after {
      position: absolute;
      width: 100%;
      height: 2px;

      content: '';
      -webkit-transition: all .3s;
      transition: all .3s;
      background: #000;
    }

    #btn-border:before {
      top: 0;
      left: 0;
    }

    #btn-border:after {
      right: 0;
      bottom: 0;
    }

    #btn-border:hover:before,
    #btn-border:hover:after {
      width: 0;
    }

      .name-field{
      display: flex;
      justify-content: center;
      .field-last_name{
        width: 100%;
        margin-right: 5px;
      }
      .field-first_name{
        width: 100%;
        margin-left: 5px;
      }
    }
  }
}




.user_profile_image{
 img{
   /* ユーザープロフィール画像は丸に変更 */
   border: solid #FF9933;
   border-radius: 50%
 }
}

.edit-form{
  padding: 0 100px 0 0;
}