<p>
  <% if user_signed_in? %>
    <!--ログインユーザーには表示されないようにする-->
    <% if current_user != user %>
      <% if current_user.following?(user) %>
        <%= link_to "フォローを解除", user_relationships_path(user), method: :delete, remote: true, class: "btn btn-warning" %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(user), method: :post, remote: true, class: "btn btn-success" %>
      <% end %>
    <% end %>
  <% end %>
</p>
<p>
  フォロー:<%= link_to user.followings.count, user_followings_path(user) %>
  フォロワー:<%= link_to user.followers.count, user_followers_path(user) %>
</p>


