<!--<div class="main-visual">-->

<div id="box">
  <div class="main-visual-content">
      <p class="main-visual-text">
        ようこそ！！Parentingへ<br><br>
        妊娠から産後の子育てまで<br>
        情報の共有や質問ができます！<br>
        大切な我が子にためになる情報を是非！！
      </p>
  </div>
  <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>
</div>

<!--</div>-->

<!--<figure class="pic1"><img src="aseets/images/bqby2.jpg"></figure>-->