<!--<div class="main-visual">-->

<div id="box">
  <div class="main-visual-content">
      <p class="main-visual-text">
        test<br/>
        test.
      </p>
  </div>
  <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>
</div>

<!--</div>-->

<!--<figure class="pic1"><img src="aseets/images/bqby2.jpg"></figure>-->